<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
  
  <link rel="stylesheet" href="css/home.css"/>
</head>
<body>
<a href="/blog/meditacao"> Meditação</a>
<a href="/blog/ansiedade">Ansiedade</a>
<a href="/blog/depressao">Depressão</a>
<a href="/blog/profissionais">Profissionais</a>
<a href="/blog/estresse"> Estresse</a>

{{#if session.userid}} 
                    <a class="linkForum" href="/post/forum">Fórum</a>
                {{else}}
                    <a class="linkForum"  href="/login">Fórum</a>
                    
                {{/if}}

<div class="divBody">
    {{{body}}}
</div>

</body>
                
